#game-rules {
    text-align: center;
}
.heading {
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
}
.choice-list {
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: solid 2px;
    font-size: 30px ;
    width: 40%;
    margin: auto;
}
 #rules {
     border: solid 2px;
     margin: auto;
     text-align: center;
 }
 #game-head {
     text-align: center;
 }
 #game-choice {
     font-size: 30px;
     text-align: center;
     padding-top: 100px;
 }

 .btn {
     height: 50px;
     width: 100px;
 }


 #btn-list {
     text-align: center;
 }

 .game-item {
     margin: 40px;

 }

.score-heading {
    text-align: center;
}

#player-heading {
    float: left;
    width: 45%;

}
#comp-heading {
    float: right;
    width: 45%;
}

#player-image {
    width: 50%;
}
#computer-image {
    width: 50%;
}
#social-link {
    position: fixed;
    bottom: 0;
    width: 100%;
}