body {
    margin: 0;
    padding: 0;
    background-color: #DBDBDB;
    font-family: 'Radio Canada', sans-serif;
    height: 100vh;
}

#game-rules {
    text-align: center;
}
 .heading {
     background-color: #546A7B;
     padding: 10px 0;
     font-size: 2rem;
 }
 .heading h1 {
text-align: center;
 }
.score-area {
    text-align: center;
    font-size: 3rem;
}

.points {
    border: solid 2px;
    display: inline-block;
    width: 30%;
}
.player{
    display: inline-block ;
    font-size: 3rem;
    margin-right: 20px;
    width: 20%;
}


.computer {
    display: inline-block; 
    font-size: 3rem;
    margin-left: 20px;
    width: 20%;
}
#result {
    text-align: center;
    font-size: 2rem;
    margin: 5% 0;
}

.choices {
    width: 100% ;
    text-align: center;
    margin: 5% 0;
    padding-bottom: 5%;
    
}

.choice {
    display: inline-block;
    font-size: 5.5rem;
    border-radius: 50%;
    border: solid;
    margin: 0 20px;
    padding: 20px;
}

.choice:hover,
.choice:focus {
    background-color: #546A7B;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-game {
    display:none ; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    text-align: center;
  }

  .modal p {
      font-size: 1.5rem;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .buttons {
      padding: 5px;
      margin: 0 .5rem;
  }

.rules {
    text-align: center;
}
#rules-img {
    width: 20rem;
}

.winner{
    box-shadow:0 0 1rem green;
}

.loser {
    box-shadow: 0 0 1rem red;
}

.draw {
    box-shadow: 0 0 1rem ;
}


@media screen and (max-width:1280px) {
    .heading {
        font-size: 1rem;
    }

    .modal p {
        font-size: 1rem;
    }

}

@media screen and (max-width:1050px) {
        
        .choice {
            font-size: 3rem;
        }
        .modal-content{
            width: 80%;
        }
    
}

 @media screen and (max-width:650px) {
        .score-area {
            font-size: 2rem;
        }
        .player {
            font-size: 2rem;
        }
        .computer {
            font-size: 2rem;
        }
        .modal p {
            font-size: 1rem;
        }
        #rules-img{
            width: 60%;
        }
        .choice {
            font-size: 2rem;
        }
    }


@media screen and (max-width:450px){

    .score-area {
        font-size: 1.5rem;
        width: auto;
        padding-top: 2%;
    }
    .points {
        width: auto;
    }
    .player {
        font-size: 1.5rem;
        margin: auto;
        padding-right: 2%;
    }
    .computer {
        font-size: 1.5rem;
        margin: auto;
        padding-left: 2%;
    }
    .choice {
        padding: 20px;
        margin: 2%;
    }

    .rules {
        padding:10%;
    }
    .myBtn {
        margin: 5%;
    }
}